<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>squint</string>
	<key>CFBundleDisplayName</key>
	<string>squint</string>
	<key>CFBundleIdentifier</key>
	<string>net.biseth.squint</string>
	<key>CFBundleExecutable</key>
	<string>squint</string>
	<key>CFBundleIconFile</key>
	<string>squint</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION@</string>
	<key>CFBundleVersion</key>
	<string>@BUNDLE_VERSION@</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Text</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>public.log</string>
				<string>public.source-code</string>
				<string>public.script</string>
				<string>public.shell-script</string>
				<string>public.utf8-plain-text</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Data</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.json</string>
				<string>public.xml</string>
				<string>public.yaml</string>
				<string>public.comma-separated-values-text</string>
				<string>public.tab-separated-values-text</string>
				<string>net.daringfireball.markdown</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
